@model Models.ResetPasswordViewModel
@{
    ViewBag.Title = Resources.PageTitles.ResetPassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<p class="text-success">@TempData["errormessage"]</p>
<h2 class="text-primary">ResetPassword</h2>
@using (Html.BeginForm("ResetPasswordPost", "Home", FormMethod.Post))
{
    <div>
    <label class="text-primary">New Password</label>
    @Html.PasswordFor(m => m.Password1, new { style = "position:absolute; left:150px" })
    <br/><br/>
    <label class="text-primary">Confirm Password</label>
    @Html.PasswordFor(m => m.Password2, new { style = "position:absolute; left:150px" })
    <br/><br/>
    <input type="submit" value="Reset" />
    <input type="reset" value="Cancel" />
    </div>
}
<br />
@Html.ValidationSummary()
<br />
