@Styles.Render("~/Content/cube")
<h3>Menu4</h3>
<p>Content of menu4 submenu1</p>
<div class="card">
    <div class="card1">
        Akash
    </div>
    <div class="card2">
        Vibin
    </div>
    <div class="card3">
        Ananthu
    </div>
    <div class="card4">
        Nikhil
    </div>
</div>
<div class="target">
    <div class="car">
        target
    </div>
</div>